<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}EATEN!{{else}}NOT FINISHED!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DEVOURED!</button>
</li>