<li>
    {{burger_name}}
    {{#if devoured}}
    <button class="delete-burger" data-id="{{this.id}}">Delete Burger!</button>

    {{else}} <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">Devoured!</button>
    {{/if}}



</li>